
/* -------  Structure ------- */

body{color:#FFF;background:rgb(156, 146, 146);margin:0;padding:0;font-family: 'Source Sans Pro', sans-serif;}

header{
  background-color: rgb(201, 185, 160);
  text-align: center;
  color: #fff;font-family: Futura;
  text-transform: uppercase; padding:20px; 
}

main{
  font-size:24px;font-family: 'Source Sans Pro', sans-serif;}


h3{
  text-shadow:0 1px 2px black;
  color: rgb(88, 79, 79);
}

p{
  overflow-wrap: wrap;
  
}

/* footer */

#footer-content{
  background: #333333;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  margin:0;
  padding:5px 0;
}
#footer-content p{
  margin:0;
  text-align: center;
}


/* -------------size setting-------- */
.wrapper{
  width: 800px;
  margin: auto;
}

.max-600-text{
  width: 600px;
  margin:auto;
}

/*------------ position setting------------ */
.float-left{
 float: left;
 margin-right: 50px;
}

.mid{
  text-align: center;
}



/*--------- Introduction section---------- */
.profile-image{
  text-align: initial;
  margin-bottom: 50px;
}

.profile-image img{
  width: 220px;
  height: 220px;
  border-radius: 100%;
  /* margin-right: 100px; */
}

/*--------- About section| describe image ---------*/
.intro-image{
  margin-bottom: 50px;
  margin-left: 20%;
}

.intro-image img{
  width: 150px;
  height: 150px;
}


.intro-list{
  margin-left: 300px;
  padding-top: 10px;
}

  /* image with white square background */
.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/White-square.jpg");
    height: 150px; 
    width: 150px; 
}


/*-------- Project section ---------*/
.subgroup img{
  width: 300px;
  height: 200px;
 
}



/* -------------Service section-------- */
.comingSoon img{
  width: 800px;
}

.service-list{
  color:  black;
  text-shadow: 0px 1px 3px white;
  position: relative;
  text-align: center;
}

.service-item p{
  font-family: 'Alfa Slab One', cursive;
  color: black;
  text-align:center;
  margin-bottom: 70px;
  font-size: 40px;
  text-transform: uppercase;
}

.service-list li{
  margin-bottom: 50px;
  /* font-family: 'Righteous', cursive; */
}

.service-list li:hover{
  background-color: white;
}


/*------ contact section ------*/
.subscribe{
  text-align:center;
}
.subscribe p{
  font-family: 'Kalam', cursive;
  font-size: 50px;
  color: white;
}

/*---------- Color setting------------ */

.pink{
  color:#d43ca2;
}

.darkBlue{
  color:#2d324e
}

.darkRed{

  color: rgb(53, 14, 14);

}

#year{

  color: #c02431;
}
 /*----------- flex setting ----------*/
.flex-group{
  display: flex;
justify-content: center;

}
.flex-item{
  display: inline-flex;
margin: 0 30px;
align-items: center;
justify-content: center;

}
.flex-item img{
  width: 60px;

}



/*----------- gap -----------*/
.gap{
  height: 100px;
}

.gap-sm{
  height: 50px;
}

.gap-xl{
  height: 150px;
}

/* ----------link setting------- */
a {
	font-weight: 700;
	text-decoration: none;	
}

a:link { color: #784a38; }
a:visited { color: #784a38; }
a:hover { color: #6b6259; }
a:active { color: #6b6259; }

/* ------------button --------------*/
.btn{
  font-family: 'Shadows Into Light', cursive;
  background-color: #FEE2B3;
  border-color: #777777;
  padding: 1px 5px;
   border-radius: 10px;
}

.btn-primary{
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  background-color: #FEE2B3;
  border-color: #777777;
  padding: 10px 10px;
   border-radius: 20px;
   
}

.btn-primary:hover{
  background-color: #FEEFBF;
  border-color: #777777;
  border-width: 4px;
  color: #999999;
  cursor:pointer;
}

.btn-xl{
  font-size: 36px;
   padding: 15px 12px;
   font-family: 'Source Code Pro', monospace;
   border-radius: 40px;
}